---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>NJCTL Dynamics Presentations</h1>
    <ul id="navigation">
      <% data.dynamics.pages.each do |chapter| %>
        <li><a href="<%= chapter.site_link %>"><%= chapter.name %></a></li>
    <% end %>
    </ul>
</div><!-- .welcome -->
